{% extends "main.html" %}


{% block content %}
<div class="content">
<div style="padding-left: 90px">
<h1>Terms</h1>
<ul>
    <li>Term 1</li>
    <li>Term 2</li>
</ul>
</div></div>
{% endblock %}


{% block bottom %}
    <table width="95%" align="center" cellpadding="3" cellspacing="0" bgcolor="#C3D9FF" style="margin-bottom:5">
  <tbody><tr>
  <td class="bubble tl" align="left" valign="top"><div class="SPRITE_corner_tl"></div></td>
  <td class="bubble" rowspan="2" style="text-align:left">
  <div align="center">
  <font size="-1" color="#666666">TAU Google Technologies for Cloud Development Workshop 2010
  <a href="about">About</a> -
  <a href="http://code.google.com/p/ilikeil/">Development</a> -
  <a href="terms">Terms</a>
  - <a href="support">Support</a>
  </font>
  </div>
  </td>
  <td class="bubble tr" align="right" valign="top"><div class="SPRITE_corner_tr"></div></td>
  </tr>
  <tr>
  <td class="bubble bl" align="left" valign="bottom"><div class="SPRITE_corner_bl"></div></td>
  <td class="bubble br" align="right" valign="bottom"><div class="SPRITE_corner_br"></div></td>
  </tr>
</tbody></table>
    <script type="text/javascript">
  var rpxJsHost = (("https:" == document.location.protocol) ? "https://" : "http://static.");
  document.write(unescape("%3Cscript src='" + rpxJsHost +
"rpxnow.com/js/lib/rpx.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  RPXNOW.overlay = true;
  RPXNOW.language_preference = 'en';
</script>
{% endblock %}